{% extends "base.html" %}
{% block baslik%} SPARQL {% endblock %}

{% block icerik %}<h1> SPARQL </h1>

  <hr>

          <form id="myform" method="post" action="/sparql/">{% csrf_token %}
            <p><label >Keyword:</label>
                <input type="text" id="myinput" name="keyword" maxlength="100" /> </p>
                <input type="submit" value="Save Page">{% csrf_token %}
                <span type="hidden" id="tokens"></span>
          </form>
        

<hr>
    <span id="returnValueOfFreebase"></span>
<hr>
{% for res in list %}
   <li> {{ res }}</li>
{% endfor %}

{%endblock  %}